@import "../../css/reset.min.css";

@width: 1200px;
html, body {
  min-width: 1030px;
}

em, i, u, s, strong, b {
  font-weight: normal;
  font-style: normal;
}

.transition(@property: all,@duration: .3s,@effect: linear,@delay: 0s) {
  -webkit-transition: @arguments;
  transition: @arguments;
}

.center(@W,@H) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: unit(-@H/2, rem) 0 0 unit(-@W/2, rem);
}

.subText() {
  text-overflow: ellipsis;;
  white-space: nowrap;
  overflow: hidden;
}

// 公用容器 样式
.mod_row_box {
  position: relative;
  width: 100%;
  margin-bottom: 33px;

  .mod_hd, .mod_bd {
    width: @width;
    margin: 0 auto;
  }
}

//头部公共样式
.mod_hd_yb {
  position: relative;
  height: 40px;
  font-size: 0;
  white-space: nowrap;
  margin-bottom: 14px;

  .mod_hd_title {
    display: inline-block;
    margin-right: 10px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: #202020;

    .title_pic_link {
      position: relative;
      display: inline-block;
      vertical-align: top;
      color: #202020;

      &:hover {
        color: #ff6428;
      }
      .title_pic {
        position: relative;
        padding-left: 46px;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 36px;
          height: 36px;
        }
      }
    }

    .sub_tit {
      margin-left: 5px;
      font-size: 14px;
      color: #999;
    }
  }

  .title_action {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;

    .mod_link_list {
      display: inline-block;
      font-size: 0;

      .item {
        position: relative;
        float: left;
        vertical-align: top;
        margin-left: 26px;
        font-size: 14px;

        &:nth-of-type(1):after {
          display: none;
        }
        &:after {
          content: '';
          position: absolute;
          left: -15px;
          top: 7px;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: #afafaf;
        }
        &.item_ad {
          top: 4px;
          width: 1px;
          height: 12px;
          border-radius: 0;
          border-left: 1px solid #afafaf;
          padding-left: 0;
          margin: 0 13px;

          &:after {
            display: none;
          }
        }

        a {
          color: #202020;

          &:hover {
            color: #ff6428;
          }
        }
      }
    }
  }
}

// 强势接挡
.mod_listings_title {
  position: relative;
  height: 50px;
  padding-top: 10px;
  margin-top: -10px;
  margin-bottom: 15px;

  .listings_list {
    font-size: 0;
    letter-spacing: -3px;
    margin-left: -5px;
    margin-right: -3px;

    .list_item {
      width: 172px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      letter-spacing: 0;
      margin-bottom: 40px;

      .tit_txt {
        height: 32px;
        margin-bottom: 8px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;

        .tit {
          position: relative;
          display: inline-block;
          text-align: center;
          font-size: 18px;
          line-height: 20px;
          color: #202020;

          .icon_aspect {
            position: absolute;
            top: -10px;
            right: -45px;
            padding: 0 3px;
            font-size: 12px;
            line-height: 19px;
            color: #fff;
            background: #ff6428;
            border-radius: 2px;

            &:before {
              content: ' ';
              position: absolute;
              left: 0;
              bottom: -7px;
              width: 0;
              height: 0;
              border-width: 4px;
              border-style: solid dashed dashed solid;
              border-color: #ff6428 transparent transparent #ff6428;
            }
          }
        }
        .txt {
          font-size: 12px;
          line-height: 14px;
          color: #999;
        }
      }

      .progress {
        width: 100%;
        height: 6px;
        background: #eee;

        &.progress_1 .dot {
          background: #ff6428;
        }

        .dot {
          display: inline-block;
          vertical-align: top;
          position: relative;
          top: -3px;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background: #ddd;
        }
      }
    }
  }
}

// 图片容器
#custommovie {

}

.mod_figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 20px;
  font-size: 0;
  letter-spacing: -5px;

  .figure_list {
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    .list_item {
      width: 167px;
      position: relative;
      display: inline-block;
      margin: 5px 5px 0 0;
      vertical-align: top;
      font-size: 12px;
      letter-spacing: normal;
      color: #999;

      .figure {
        position: relative;
        display: block;
        width: 100%;
        font-weight: 500;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 6px;
        height: 234px;

        &:hover .figure_pic {
          -webkit-filter: saturate(1.15) contrast(1.15) brightness(1.1);
          filter: saturate(1.15) contrast(1.15) brightness(1.1);
          box-shadow: 0 4px 8px rgba(40, 40, 40, .2);
        }

        .figure_pic {
          display: block;
          width: 100%;
          height: 100%;
          background: #ececec;
          background-color: rgba(236, 236, 236, .1);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: box-shadow .15s linear, -webkit-filter .3s ease-out;
        }
        .mark_v {
          position: absolute;
          pointer-events: none;
          right: 5px;
          top: 5px;
        }
        .figure_count {
          position: absolute;
          left: 4px;
          bottom: 4px;
          padding: 0 4px;
          background-color: rgba(17, 17, 17, .8);
          font-size: 12px;
          line-height: 20px;
          color: #fff;
        }
        .figure_score {
          position: absolute;
          right: 4px;
          bottom: 4px;
          width: 35px;
          height: 28px;
          text-align: center;
          background-color: rgba(17, 17, 17, .8);
          font-size: 0;
          color: #fff;

          .score_l {
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            color: #ff5f33;
          }
          .score_s {
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            color: #ff4f4a;
          }
        }
        .figure_mask {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 90px;
          background: -webkit-linear-gradient(bottom, rgba(45, 45, 45, .9), rgba(45, 45, 45, 0));
          background: linear-gradient(to top, rgba(45, 45, 45, .9), rgba(45, 45, 45, 0));
          filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#ff000000');
        }
        .figure_thermometer {
          position: absolute;
          right: 10px;
          bottom: 20px;
          width: 6px;
          height: 60px;

          &._animate0 .icon_thermometer {
            -webkit-animation: hot_animate .5s ease both;
            -o-animation: hot_animate .5s ease both;
            -ms-animation: hot_animate .5s ease both;
            animation: hot_animate .5s ease both;

            -webkit-transform-origin:center bottom;
            -moz-transform-origin:center bottom;
            -o-transform-origin:center bottom;
            -ms-transform-origin:center bottom;
            transform-origin:center bottom;
          }

          @keyframes hot_animate {
            0% {
              transform: scale(1);
            }
            70% {
              transform: scale(1.2);
            }
            100% {
              transform: scale(1);
            }
          }

          .add_num {
            position: absolute;
            top: -25px;
            right: -10px;
            width: 30px;
            text-align: center;
            visibility: hidden;
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            color: #ff9800;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .5);

            &.add_num_animate {
              visibility: visible;
              -webkit-animation: addMove .5s ease both;
              animation: addMove .5s ease both;
            }

          }

          @keyframes addMove {
            0% {
              opacity: 0;
              transform: translateY(5px) scale(.8);
            }
            75% {
              opacity: 1;
              transform: translateY(-20px) scale(1.2);
            }
            100% {
              opacity: 0;
              transform: translateY(-20px) scale(.8);
            }
          }

          .icon_thermometer {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 6px;
            height: 60px;
            background: #fff;
            border-radius: 3px 3px 0 0;

            .icon_thermometer_ball {
              position: absolute;
              left: -3px;
              bottom: -10px;
              width: 12px;
              height: 12px;
              background: #ff952a;
              border-radius: 100%;
              overflow: hidden;
            }
            .icon_thermometer_progress {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              overflow: hidden;
              border-radius: 3px 3px 0 0;
              background: -webkit-linear-gradient(bottom, #ff952a, #f5404c);
              background: linear-gradient(to top, #ff952a, #f5404c);
            }
          }

          .thermometer_info {
            position: absolute;
            bottom: -10px;
            right: 15px;
            width: 60px;
            text-align: right;
            color: #fff;

            .txt {
              display: block;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }

      .figure_detail {
        position: relative;
        display: block;
        height: 44px;
        overflow: hidden;

        &.figure_detail_collect .figure_title, &.figure_detail_collect .figure_desc {
          padding-right: 45px;
        }
        &.figure_detail_collect .figure_collect {
          position: absolute;
          top: 2px;
          right: 0;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 100%;
          background-color: #f4f4f4;
          cursor: pointer;
          color: #ff6428;
          text-align: center;
          display: block;
          .transition(@duration: .1s);
        }

        .figure_title {
          display: block;
          width: auto;
          padding: 0 3px 0 5px;
          padding-right: 16px;
          box-sizing: border-box;
          height: auto;
          max-height: 44px;
          line-height: 22px;
          font-size: 14px;

          a {
            display: block;
            word-wrap: break-word;
            word-break: break-all;
            color: #202020;
            .subText;
          }
        }

        .figure_desc {
          display: block;
          width: 100%;
          font-size: 13px;
          line-height: 20px;
          margin-top: 2px;
          cursor: default;
          padding: 0 3px 0 5px;
          box-sizing: border-box;
          .subText;
        }

        .figure_collect {
          display: none;
        }
        .figure_collect:hover {
          background-color: #ff6428;
          color: #fff;
        }
      }

      &:hover .figure_title a {
        color: #ff6428;
      }
      &:hover .figure_desc {
        color: #777;
      }
    }
  }
}

// 效果容器
.x_poster_card .figure_video_outlink, .x_poster_card .figure_video_pic {
  position: relative;
  display: block;
  width: 100%;
  height: 133px;
  overflow: hidden;
}

.x_poster_card_bd {
  position: absolute;
  z-index: 14;
  width: 167px;
  background: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 18px rgba(0, 0, 0, .35);
  -webkit-transition: opacity .1s ease, transform .1s ease;
  transition: opacity .1s ease, transform .1s ease;

  .poster_card_video {
    zoom: 1;

    .figure_video {
      position: relative;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 100%;
      font-weight: 500;
      z-index: 2;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: PingFangSC-Regular, Tahoma, Microsoft Yahei, sans-serif;
      background: #000;

      video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
      }

      .figure_video_start {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .icon_l {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 50%;
          margin-left: -25px;
          margin-top: -25px;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .figure_video_tools {
        position: absolute;
        bottom: 0;
        _bottom: -1px;
        left: 0;
        right: 0;
        padding: 8px 10px 2px;
        width: auto;
        height: 26px;
        line-height: 26px;
        letter-spacing: normal;
        color: #fff;
        font-size: 12px;
        background: -webkit-linear-gradient(bottom, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0));
        background: linear-gradient(to top, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0));
        z-index: 29;
        .subText;

        .figure_info {
          display: none;
        }

        .figure_mute {
          position: absolute;
          right: 15px;
          bottom: 5px;
          width: 24px;
          height: 24px;
          text-align: center;
          background: url(//i.gtimg.cn/qqlive/images/20150608/blank.png);
          cursor: pointer;

          .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            color: #fff;
          }
        }
      }
    }

    .figure_video_pic {
      position: relative;
      display: block;
      width: 100%;
      height: 133px;
      overflow: hidden;

      .figure {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -300px;
        width: 600px;
        height: 100%;
        text-align: center;

        img {
          display: inline-block;
          height: 100%;
          width: auto;
          max-width: 600px;
        }
      }
    }

    .video_content {
      position: relative;
      padding: 15px 20px 40px;
      min-height: 107px;
      border-top: 0;

      .video_title {
        display: block;
        color: #aaa;
        margin-right: -5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 4px;

        .tit {
          margin-right: 15px;
          color: #202020;
          font-size: 18px;
          line-height: 30px;
          font-weight: 700;
        }

        .type {
          font-size: 12px;
          line-height: 30px;
          margin-right: 10px;
        }
      }

      .video_recommend {
        .subText;
        .h1 {
          color: #ff6428;
        }
      }

      .video_tags {
        font-size: 12px;
        line-height: 24px;
        color: #7a7a7a;
        .subText;

        .tag_tit {
          color: #202020;
          margin-right: 3px;
        }
      }

      .video_review {
        max-height: 36px;
        _height: 36px;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: normal;
        font-size: 12px;
        line-height: 18px;
        color: #7a7a7a;

        .review_name {
          color: #202020;
          margin-right: 3px;
        }
      }

      .video_btn {
        position: absolute;
        left: 0;
        bottom: 10px;
        padding: 0 20px;
        width: 100%;
        height: 20px;
        text-align: center;
        font-size: 0;
        letter-spacing: -3px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .link {
          position: absolute;
          top: 2px;
          left: 50%;
          width: 1px;
          height: 16px;
          font-size: 0;
          background: #ddd;
        }

        .video_btn_half {
          display: inline-block;
          width: 50%;
          letter-spacing: normal;

          .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
          }

          .z_figure_collect {
            display: block;

            &:hover {
              color: #ff6428;
            }
            &:hover .icon_collect {
              color: #ff6428;
            }

            .icon_collect {
              color: #999;
            }
            .icon_collected {
              color: #ff6428;
              display: none;
            }
          }

          .z_figure_dl {
            &:hover {
              color: #ff6428;
            }
            &:hover .icon_dl {
              color: #ff6428;
            }

            .icon_dl {
              color: #999;
            }
            .icon_dl_disabled {
              color: #ff6428;
              display: none;
            }
          }
        }
      }
    }
  }
}

.x_poster_card .figure_video.none, .x_poster_card .figure_video_outlink.none, .x_poster_card .figure_video_pic.none, .figure_video .figure_video_tools.none {
  display: none;
}

.ani_x_card_hover {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-animation: ani_x_card_hover .1s ease backwards;
  animation: ani_x_card_hover .1s ease backwards;
}

@keyframes ani_x_card_hover {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
